# Exercice 6

### Résolution de la question 06 du TD

### Problème :

 Black Jack (règle simplifiée, pour un seul joueur) :
 • On utilise un seul jeu de 52 cartes. Chaque carte a une valeur :– de 2 à 10 : sa valeur faciale, ou nominale– une figure (valet, dame ou roi) : 10 points– un as : 1 ou 11 points, au gré du joueur.

 • La banque commence par distribuer deux cartes au joueur. Le joueur peut
 ensuite demander à la banque des cartes supplémentaires, une à une.

 • Il gagne s’il atteint exactement 21. Il perd s’il dépasse (strictement) 21. Il peut
 s’arrêter quand il veut.

 (a) Quelle est la probabilité que les deux premières cartes distribuées au joueur
 totalisent 21 points (blackjack) ?

 (b) Si les deux 1res cartes distribuées sont une dame et un 5. Quelle est la
 probabilité qu’il perde aussitôt s’il demande une 3e carte ?

### Produire une solution de 3 manières différentes :

1. De manière analytique (en utilisant des formules mathématiques).

1. En utilisant une méthode de force brute (en énumérant toutes les combinaisons possibles de manière séquentielle).

1. En utilisant une méthode probabiliste (en simulant un grand nombre de combinaisons de 4 lancers de dé de manière aléatoire).

## Code
### Import et configuration

In [37]:
import itertools

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.special import comb, factorial as fac

### Solution 1 (analytique)

A)  Quelle est la probabilité que les deux premières cartes distribuées au joueur
 totalisent 21 points (blackjack) ?

In [38]:
import math
Nombre_de_cartes = 52
cartes_distribués = 2
nombre_as = 4
nombre_val10 = 16
combinaisons = math.comb(Nombre_de_cartes, cartes_distribués)
combi_de21 = nombre_as * nombre_val10
print(combi_de21 / combinaisons)
print((combi_de21 / combinaisons)*100,"%")

0.048265460030165915
4.826546003016592 %

B) Si les deux 1res cartes distribuées sont une dame et un 5. Quelle est la
 probabilité qu’il perde aussitôt s’il demande une 3e carte ?

In [39]:
#Valeur = 15 on cherche la probabilité que la prochaine carte fait perdre le joueur
cartes_restantes=50 #Car 2 cartes déjà tirées
#27 nombre de cartes de valeur superieurs à 7
nmbr_prochaines_cartesperd=27
tirage=1
chance_perte=27/50
print(chance_perte)

0.54

### Solution 2 ( Brute force )

A)  Quelle est la probabilité que les deux premières cartes distribuées au joueur
 totalisent 21 points (blackjack) ?

In [40]:
Cartes = ['as', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'R', 'D', 'V'] # Créer les rangs
CARTES = [coul for coul in Cartes for _ in range(4)] # Créer 4 cartes de chaque rang
print(CARTES)

['as', 'as', 'as', 'as', '2', '2', '2', '2', '3', '3', '3', '3', '4', '4', '4', '4', '5', '5', '5', '5', '6', '6', '6', '6', '7', '7', '7', '7', '8', '8', '8', '8', '9', '9', '9', '9', '10', '10', '10', '10', 'R', 'R', 'R', 'R', 'D', 'D', 'D', 'D', 'V', 'V', 'V', 'V']

In [41]:
Cartes_rep = pd.DataFrame(itertools.combinations(CARTES, 2)) # Lister tous les cas possibles et les mettre dans un tableau
Cartes_rep.columns = Cartes_rep. columns + 1 #Avancer l'indice de 0 à 1
Cartes_rep # Afficher toutes les possibilités

       1   2
0     as  as
1     as  as
2     as  as
3     as   2
4     as   2
...   ..  ..
1321   V   V
1322   V   V
1323   V   V
1324   V   V
1325   V   V

[1326 rows x 2 columns]

In [42]:
res = Cartes_rep[(Cartes_rep[1] == 'as') &  (Cartes_rep[2].isin(['D', 'V', 'R', '10']))]
print(res)

      1   2
35   as  10
36   as  10
37   as  10
38   as  10
39   as   R
..   ..  ..
193  as   D
194  as   V
195  as   V
196  as   V
197  as   V

[64 rows x 2 columns]

In [43]:
print("La probabilité de gagner dès les deux premières cartes est de : ",len(res) / len(Cartes_rep))

La probabilité de gagner dès les deux premières cartes est de :  0.048265460030165915

In [44]:
def gagner_2_cartes (dt: pd.DataFrame, nb_crt: int) :
    Cartes_rep.columns = Cartes_rep. columns + 1 #Avancer l'indice de 0 à 1
    Cartes_rep # Afficher toutes les possibilités
    res = Cartes_rep[(Cartes_rep[1] == 'as') &  (Cartes_rep[2].isin(['D', 'V', 'R', '10']))]
    return(res)

In [45]:
Cartes_rep = pd.DataFrame(itertools.combinations(CARTES, 2))
gagner_2_cartes(Cartes_rep, nb_crt = 2)

      1   2
35   as  10
36   as  10
37   as  10
38   as  10
39   as   R
..   ..  ..
193  as   D
194  as   V
195  as   V
196  as   V
197  as   V

[64 rows x 2 columns]

B) Si les deux 1res cartes distribuées sont une dame et un 5. Quelle est la
 probabilité qu’il perde aussitôt s’il demande une 3e carte ?

In [46]:
# On retire une Dame et un 5 du paquet CARTES
jeu_de50 = CARTES.copy()
jeu_de50.remove("D")
jeu_de50.remove("5")

In [47]:
# Mettre les cartes restantes dans un DataFrame
tableau_de_50_cartes = pd.DataFrame(jeu_de50, columns=[0])
tableau_de_50_cartes.columns = tableau_de_50_cartes.columns + 1
tableau_de_50_cartes

     1
0   as
1   as
2   as
3   as
4    2
5    2
6    2
7    2
8    3
9    3
10   3
11   3
12   4
13   4
14   4
15   4
16   5
17   5
18   5
19   6
20   6
21   6
22   6
23   7
24   7
25   7
26   7
27   8
28   8
29   8
30   8
31   9
32   9
33   9
34   9
35  10
36  10
37  10
38  10
39   R
40   R
41   R
42   R
43   D
44   D
45   D
46   V
47   V
48   V
49   V

In [48]:
# Filtrer les cartes perdantes (7, 8, 9, 10, Valet, Dame, Roi)
res = tableau_de_50_cartes[ tableau_de_50_cartes[1].isin(['7','8','9','10','V','D','R']) ]
print(res)

     1
23   7
24   7
25   7
26   7
27   8
28   8
29   8
30   8
31   9
32   9
33   9
34   9
35  10
36  10
37  10
38  10
39   R
40   R
41   R
42   R
43   D
44   D
45   D
46   V
47   V
48   V
49   V

In [49]:
# Probabilité brute force
print("La probabilité de perdre aussitôt est de : ", len(res) / len(tableau_de_50_cartes))

La probabilité de perdre aussitôt est de :  0.54

### Solution 3 Probabiliste

In [50]:
SEED = 1234

RNG = np.random.default_rng(SEED)   #Crée un générateur de nbr aléatoires

In [51]:
def rdm_exp(rng, Cartes):
    return rng.permutation(Cartes).tolist()         #Créee une liste de cartes

In [52]:
rdm_exp(RNG, CARTES)                    # Mélanger les cartes

['3',
 '10',
 '9',
 '10',
 'V',
 '5',
 '9',
 '9',
 '5',
 '3',
 '7',
 '7',
 '4',
 'D',
 '6',
 '6',
 '6',
 'D',
 '9',
 '4',
 'R',
 'R',
 'D',
 'V',
 '8',
 '7',
 'as',
 '2',
 '3',
 '10',
 'R',
 'R',
 '6',
 '5',
 '10',
 'as',
 '3',
 '8',
 '4',
 'as',
 '8',
 'D',
 '7',
 'V',
 '2',
 '8',
 '2',
 '2',
 '5',
 '4',
 'as',
 'V']

In [53]:
def rdm_rep(rng, cartes, nb_rep) :          #Fonction créant nb_rep jeux de cartes
    return [rdm_exp(RNG, cartes) for _ in range(nb_rep)]

In [54]:
nb_rep = 100000
comb = pd.DataFrame(rdm_rep(RNG, CARTES, nb_rep))       #Transformer en DataFrame
comb

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,51
0,4,10,as,5,4,as,8,6,8,6,...,2,D,8,4,9,3,V,V,R,D
1,5,4,as,9,6,10,D,6,5,V,...,8,6,2,4,3,3,2,8,V,9
2,9,4,4,5,10,R,4,2,10,7,...,3,as,R,5,6,3,D,6,9,V
3,6,V,D,D,10,10,as,2,as,3,...,4,D,6,5,2,R,4,V,3,4
4,6,as,5,D,8,D,7,9,4,R,...,9,9,D,4,D,7,3,2,5,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,R,3,as,6,as,V,4,6,7,4,...,V,7,as,10,6,5,R,5,3,3
99996,4,10,R,D,10,D,3,2,5,7,...,8,5,V,8,6,9,D,5,7,4
99997,4,3,10,4,4,8,6,V,D,5,...,7,D,9,3,3,R,2,as,2,6
99998,6,V,5,7,4,2,10,2,9,D,...,R,as,10,as,R,D,R,D,8,9
99999,4,as,10,10,R,5,10,V,4,V,...,6,7,9,4,8,9,2,R,2,as

In [55]:
comb_2 = comb.iloc[:, :2]                   #Tirer 2 cartes de chaque jeu de 52
comb_2.columns = comb_2.columns + 1
comb_2

       1   2
0      4  10
1      5   4
2      9   4
3      6   V
4      6  as
...   ..  ..
99995  R   3
99996  4  10
99997  4   3
99998  6   V
99999  4  as

[100000 rows x 2 columns]

In [56]:
res = comb_2[(comb_2[1] == 'as') &  (comb_2[2].isin(['D', 'V', 'R', '10']))]
res

        1   2
15     as   R
106    as  10
123    as  10
167    as   D
203    as   V
...    ..  ..
99667  as   D
99683  as   R
99706  as   V
99814  as  10
99880  as   D

[2407 rows x 2 columns]

In [57]:
print("Le nbr de cas correspondant est de : ", len(res))
print("La probabilité estimée est de : ", len(res) / nb_rep)

Le nbr de cas correspondant est de :  2407
La probabilité estimée est de :  0.02407

### Qst B - Méthode probabiliste

In [58]:
rdm_exp(RNG, jeu_de50)                    # Mélanger les cartes aléatoirement

['7',
 '3',
 'V',
 '4',
 'R',
 '10',
 'D',
 'R',
 '9',
 '5',
 '3',
 '9',
 '2',
 '10',
 '5',
 'D',
 '5',
 '6',
 'V',
 '9',
 'R',
 '2',
 'D',
 '6',
 '4',
 '7',
 'R',
 'V',
 'as',
 '8',
 '8',
 '6',
 '8',
 '4',
 '2',
 'as',
 'as',
 '8',
 '6',
 '4',
 '10',
 '2',
 'V',
 '3',
 '7',
 '9',
 '7',
 '10',
 '3',
 'as']

In [59]:
nb_rep = 500            #Créer 500 jeu de cartes de 50
combo = pd.DataFrame(rdm_rep(RNG, jeu_de50, nb_rep))    #Transformer en DataFrame
combo

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,D,3,4,as,6,V,5,V,3,3,...,9,D,V,2,7,7,6,4,R,8
1,4,V,5,10,V,4,as,6,R,D,...,9,2,V,2,6,3,8,10,3,7
2,6,2,7,6,as,5,6,D,3,8,...,4,as,10,9,5,R,D,R,9,4
3,8,7,8,7,6,2,9,4,V,2,...,9,4,6,3,7,D,V,R,as,5
4,V,R,10,8,6,as,5,V,D,9,...,6,V,5,6,6,3,7,3,9,as
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,R,R,as,5,3,4,as,V,8,R,...,6,3,9,as,V,7,3,9,10,2
496,6,2,R,R,6,7,7,V,8,2,...,R,as,9,3,5,6,V,10,5,3
497,V,2,6,8,V,4,8,as,8,7,...,V,4,as,5,7,D,3,9,R,R
498,4,R,5,10,5,as,2,8,8,V,...,3,8,8,3,D,6,9,V,as,V
499,D,5,7,3,5,2,R,10,3,4,...,as,R,R,as,9,6,8,3,10,9

In [60]:
combo_2 = combo.iloc[:, :1]             #Chosir une carte d'un jeu de 50
combo_2.columns = combo_2.columns + 1   #Commencer les indices à 1
combo_2

     1
0    D
1    4
2    6
3    8
4    V
..  ..
495  R
496  6
497  V
498  4
499  D

[500 rows x 1 columns]

In [61]:
res = combo_2[combo_2[1].isin(['7', '8', '9', '10', 'V', 'R', 'D'])] #Garder que les cas de perte dans res
res

      1
0     D
3     8
4     V
5    10
8     R
..   ..
490   D
493   8
495   R
497   V
499   D

[268 rows x 1 columns]

In [62]:
print("Le nombre de cas simulés correspondnat : ", len(res))
print("La probabilité simulée est de : ", len(res) / nb_rep)

Le nombre de cas simulés correspondnat :  268
La probabilité simulée est de :  0.536